@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


/* GLOBAL FONT VARIABLES */
:root {
  --asram-font: "Montserrat", sans-serif; /* or whatever T.font.family points to */
  --asram-text-color: #191919;
}

/* GLOBAL TYPOGRAPHY CLASS */
.asram-font {
  font-family: var(--asram-font), sans-serif;
  color: var(--asram-text-color, #191919);
}
